/* arquivo da folha de estilos de todo o site */
/* Início CSS estilo header */

body, ul {
    margin: 0px;
    padding: 0px;
}
#menu a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;

}
#menu a:hover {
    background: rgba(0, 0, 0, 0.05);
    font-size: 15px;
}
#logo {
    font-size: 1.5rem;
}
#logo img {
    height: 60px;

}
#logo img:hover {
    box-shadow: 2px 2px 4px #b8b7b7;
    transition: 0.3s;

}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1dcff;
     box-shadow: 3px 3px 6px #b1b1b1; 

}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
/*Fim CSS estilo header */
/*Início CSS estilo header */
/*Início estilo carousel */

#carouselExampleInterval {
position: relative;
z-index: 10;
padding-top: 0px;
box-shadow: 3px 3px 6px #c5c5c5;
}

/* Fim estilo carousel */

/* inicio estilo midia >> mobile */
@media (max-width: 690px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #f1dcff; 
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;

    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;

    }
    #hamburger {
        border-top: 2px solid;
        /* para aumentar ou diminuir a espessura da linha do hamburger */
        width: 30px;
        /* para alterar a largura do hamburger */
        color: #623e7a;
        /* para alterar a cor do hamburger  */
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        /* altera a largura do hamburger, juntamente com o width anterior */
        height: 2px;
        background: currentColor;
        margin-top: 4px;
        /* altera o espaçamento, entre as liunhas do hamburger */
        position: relative;
        border-top: 2px solid;
        /* para aumentar ou diminuir a espessura linha do hamburger,juntamente com o boder-top anterior */
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}



/* fim estilo midia >> mobile */

/* Início estilo banner home */
/* Para aplicar estilos na CLASS > utilize o ponto [.] antes do objeto */
/* Para aplicar estilos na ID > utilize o hashtag [#] antes do objeto */
.section-banner-home {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color: rgb(255, 213, 227);
    box-shadow: 3px 3px 6px #b1b1b1;
}
.section-banner-home img {
    max-height: 400px;
    width: 40%;
    display: block;
    margin: auto;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;

}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;   /* largura */
    font-weight: 500; /* espessura do texto */
    padding-bottom: 20px; /* margem interna > embaixo */
    color: white;
}
.section-banner-home .texto-banner p {
    font-size: 20px; 
    margin-bottom: 30px;
    color: white;
    text-align: justify;
}
.section-banner-home .texto-banner a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color:  #623e7a;
    padding: 4px 14px;
    font-size: 17px;
    transition: 0.3s; /* deixand o efeito suave */
}

.section-banner-home .texto-banner a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #ffffff7a;
    font-size: 18px;
    font-weight: bold;
}


/*Fim estilo banner home */

/* inicio estilo destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
           
}
.destaque #saiba-mais {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    background: rgb(255, 216, 226);
    margin: 30px 0px;
    width: 25%;
    /* alingn-itens: center */
    
}
/* .destaque .col-6 img:hover {
    box-shadow: 3px 3px 6px #868686;
    transition: 0.3s;
} */
/* fim estilo destaque */

/* inicio estilo novidades */
.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #000;
    font-size: 26px;
    width: 70%;
}
.novidades p {
    color: #000;
}
.novidades a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color:violet ;
    padding: 6px 12px;
    background-color: #f1dcff;
    font-weight: 400;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    background: rgb(255, 216, 226);
    margin: 30px 0px;
    width: 45%;
    /* alingn-itens: center */
}
/* fim estilo novidades */
/* inicio estilo galeria */
.galeria {
    margin: 60px auto 20px;
    /* quando tivermos 4 valores no margin = top/ right/ botton/ left > exemplo: margin: 60px 60px 60px 60px; */
    /* quando tivermos 3 valores = top /right and left/ botton > exemplo: 60px auto 60px; */
    /* quando tivermos 2 valores = igual top and botton / right and left > exemplo: margin: 60px 30px;  */
    /* quando tivermos 1 valor = botton, right and left serao identicos > exemplo: margin: 60px;   */
    /* essa regra se aplica tambem ao padding */
}
.galeria .container {
margin: 11%;
}
.galeria h2 {
    text-align: center;
    font-size: 24px;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
.galeria .gallery img {
width: 80%;
height: 80%;
-webkit-transition: -webkit-transform .5s ease;
transition: transform .5s ease;
display: block;
}
.galeria .gallery img:hover {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
/* fim estilo galeria */

/* inicio whatsapp */
.whatsapp {
    position: fixed;
    top: 400px;
    right: 20px;
    z-index: 200;
}
.whatsapp img {
    height: 60px;
}
/* inicio efeito pulse */
.whatsapp .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
0%{
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
}
100%{
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(110%);
}
}
@keyframes pulse {
    0%{
        transform: scale(1);
        filter: brightness(100%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(110%);
    }
}

/* fim efeito pulse */
/* fim whatsapp */

/* inicio esilo footer (rodape) */
.rodape {
    padding: 50px 50px 0;
}
.rodape .container #logo-rodape img {
    height: 50%;
    width: 50%;
    padding-left: 10px;
    transition: transform .3s;
    display: block;
}
.rodape .container #logo-rodape img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.rodape .info-contato p {
    margin: 0;
}
.rodape linkFooter {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin-left: 0.7rem;
}
.rodape .linkFooter:hover {
    font-weight:  bold;
}
.rodape .redes-sociais {
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 50px;
    height: 50px;
    padding-left: 0;
    margin-left: 0.7rem;
    transition: transform .3s;
    border-radius: 15px;
    /* border-radius = arredondando as extremidades da forma */
}
.rodape .redes-sociais img:hover {
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}
/* fim esilo footer (rodape) */


  
  /* Início estilo Vídeos */
  .embed-container {
    position: relative;
    padding-bottom: 0;
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
  }
  .embed-container p {
    text-align: center;
    font-size: 20px;
  }
  .embed-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .embed-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 1em;
    box-shadow: gray 0.5em 0.5em 0.3em;
    transition: transform .3s;
    display: flex;
  }
  .embed-container iframe:hover {
    flex: 1;
    z-index: 1;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
  }
  .embed-container .col-lg-4 {
    margin-top: 30px;
  }
  .embed-container .col-lg-6 {
    margin-top: 30px;
  }
  /* Fim estilo Vídeos */
  /* inicio estilo contato */
  .contact {
    padding: 70px;
    background: #f4eafa;
  }
  .section-title h2 {
    color: #553666;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 5px solid #dddddd;
    padding-bottom: 10px;
    display: inline-block;
  } 
  .section-title p {
    color: #3c0157;
    margin-bottom: 30px;
  }
  .contact input,
  .contact textarea {
    background: #f1f1f1;
  }
  .contact textarea {
    min-height: 188px;
    max-width: 100%;
  }
  .contact .map {
    overflow: hidden;
    border-radius: 4px;
    height: 65%;
  }

  /* fim estilo contato */

  /* inicio estilo market place */
  .market-place {
    height: 180px;
    width: 100%;
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .market-place img {
    height: 160%;
    width: 60%;
  }


  /* fim estilo market place */